Source/Modules/Documentarian*/[0-9]*.[0-9]*.[0-9]*/
Source/Styles/*
!Source/Styles/PowerShell-Docs/
!Source/Styles/Vocab/

# Hugo ignores
site/public
Source/Hugo/**/public
**/resources/_gen
**/.hugo_build.lock
**/node_modules
