name: Build Modules

on:
  push:
    branches:
      - main # Set a branch that will trigger a deployment
  pull_request:
    paths:
      - 'Projects/Modules/*/Source/**'
      - 'Projects/Modules/*/.DevX.jsonc'

defaults:
  run:
    shell: pwsh

jobs:
  build_modules:
    name: PowerShell
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        module:
          - Documentarian
          - Documentarian.DevX
        include:
          - module: Documentarian
            version: 0.0.1
          - module: Documentarian.DevX
            version: 0.0.1
          # - module: Documentarian.MarkdownLint
          #   version: 0.0.1
          - module: Documentarian.MicrosoftDocs
            version: 0.0.1
          - module: Documentarian.ModuleAuthor
            version: 0.0.1
          - module: Documentarian.Vale
            version: 0.0.1
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install PowerShell modules
        run: |
          Set-PSRepository PSGallery -InstallationPolicy Trusted
          Install-Module InvokeBuild, PlatyPS, PowerShell-Yaml -ErrorAction Stop
      - name: InvokeBuild
        run: |
          $PSVersionTable
          Get-Module -ListAvailable InvokeBuild, PlatyPS, PowerShell-Yaml |
            Format-Table -Property Name, Version, Path
          Push-Location ./Projects/Modules
          Invoke-Build -Module ${{ matrix.module }}
      - name: Archive ${{ matrix.module }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.module }}
          path: |
            Projects/Modules/${{ matrix.module }}/${{ matrix.version }}
