name: Analyze repository
on:
  pull_request:
    branches:
      - main
jobs:
  analyze_github:
    name: GitHub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Analyze repository
        uses: microsoft/ps-rule@v2.8.1
        with:
          modules: "PSRule.Rules.GitHub"
  analyze_msft_oss:
    name: Microsoft OSS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run PSRule analysis
        uses: Microsoft/ps-rule@main
        with:
          modules: "PSRule.Rules.MSFT.OSS"
          prerelease: true
